* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('Imagenes/FondoAdministrador.jpg');
}
h1 {
    font-family: "Yatra One", system-ui;
}

header {
    width: 100%;
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 1.25rem 0.125rem #ffffff; 
    background-color: rgb(114, 5, 5);
    padding: 0 1rem;
    z-index: 100;
}

.logo {
    font-size: 2rem;
    margin-right: auto;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Rowdies", sans-serif;
    font-weight: 700;
    font-style: normal;
}

ul {
    display: flex;
    list-style: none;
}

    ul a {
        margin-left: 1rem;
        transition: 0.5s;
        text-decoration: none;
        margin-right: 2rem;
        color: white;
        font-family: "Yatra One", system-ui;
        font-weight: 400;
        font-style: normal;
        display: inline-block;
    }

        ul a:hover {
            font-size: 1rem;
            color: rgb(235, 244, 0);
            transform: scale(1.1);
        }

section {
    position: static;
    max-width: 25rem; 
    background-color: rgba(9, 17, 50, 0.526);
    border: 0.3125rem solid rgb(43, 74, 102); 
    border-radius: 20px;
    backdrop-filter: blur(3.4375rem); 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
    opacity: 0.9;
    margin-top: 4.375rem; 
    font-family: "Yatra One", system-ui;
}

.inputbox input {
    width: 100%;
    height: 3.75rem; 
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 2.1875rem 0 0.1875rem; 
    color: rgb(255, 255, 255);
}

h1 {
    text-align: center;
    color: #ffffff;
}

.inputbox ion-icon {
    position: absolute;
    right: 0.5rem; 
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    top: 0.625rem; 
}

.inputbox {
    position: relative;
    margin: 1.875rem 0; 
    max-width: 15.625rem; 
    font-family: "Yatra One", system-ui;
    border-bottom: 0.125rem solid #ffffff; 
}

    .inputbox label {
        position: absolute;
        top: 10%;
        left: 0.3125rem; 
        transform: translateY(-60%);
        color: #ffffff;
        font-size: 1rem;
        pointer-events: none;
        transition: all 0.5s ease-in-out;
        font-family: "Yatra One", system-ui;
    }

input:focus ~ label,
input:valid ~ label {
    top: -0.3125rem; /* -5px */
    font-family: "Yatra One", system-ui;
}

        .botonI_slide {
            background-color: rgb(7, 125, 251);
            color: #FFF;
            border: 2px solid rgb(7, 125, 251);
            border-radius: 0;
            padding: 1rem 3rem;
            display: inline-block;
            font-family: "Lucida Console", Monaco, monospace;
            font-size: 1rem;
            letter-spacing: 0.1rem;
            cursor: pointer;
            box-shadow: inset 0 0 0 0 #cdde12;
            -webkit-transition: ease-out 0.4s;
            -moz-transition: ease-out 0.4s;
            transition: ease-out 0.4s;
          }
          
       
          
          .slide_diagonal:hover {
            box-shadow: inset 400px 50px 0 0 #d8bc04;
            border: 1rem solid #d8bc04;
          }
          .centrar{
            display: flex;
            justify-content: center;
          }
          .message {
            position: fixed;
            top: 10px;
            right: 10px;
            padding: 10px;
            border-radius: 5px;
            color: #fff;
            font-weight: bold;
            z-index: 1000;
        }
        
        .message.success {
            background-color: #4caf50; 
        }
        
        .message.error {
            background-color: #f44336; 
        }
   
        .botonI{
                background:#05b8c9;
                color:#fff;
                border:none;
                position:relative;
                height:60px;
                font-size:1.6rem;
                padding:0 1.5rem;
                cursor:pointer;
                transition:900ms ease all;
                outline:none;
                font-family: "Yatra One", system-ui;
                font-weight: 400;
                font-style: normal;
              }
              .botonI:hover{
                background:#00fb43;
                color:#000000;
              }
              .botonI:before,.botonI:after{
                content:'';
                position:absolute;
                top:0;
                right:0;
                height:2px;
                width:0;
                background: #48ff00;
                transition:400ms ease all;
              }
              .botonI:after{
                right:inherit;
                top:inherit;
                left:0;
                bottom:0;
              }
              .botonI:hover:before,.botonI:hover:after{
                width:100%;
                transition:800ms ease all;
              }
         
       
.message-modal {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(103, 84, 84, 0.085);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.message-modal-content {
    background: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    width: 80%;
    max-width: 25rem;
    text-align: center;
}

.close {
    cursor: pointer;
    font-size: 1.5rem;
    color: #f60000;
    float: right;
}

.message-buttons button {
    margin: 0.5rem;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.success-btn {
    background-color: #4caf50;
    color: white;
}

.error-btn {
    background-color: #68211c;
    color: white;
}
.centrarT{
    align-items: center;
    text-align: center;
}